/* 
 * 1Reset v2.0.1
 * A Simple CSS Reset and Normalize System for The One Developers <1Devs/>
 *
 * http://ali.md/1reset
 * License: http://alimd.mit-license.org/
 */

@import '1Reset/Normalize_v2'

// @import '1Reset/Normalize_v1' // for ie6 users

// @import '1Reset/EricMeyer'

// @import '1Reset/HTML5Doctor'

// @import '1Reset/YUI'

@import '1Reset/reset'

@import '1Reset/i18n'
