/* 
 * 1Reset (Eric Meyer)
 * A 1Devs Reset makes browsers render all elements more consistently and in line with modern standards.
 * It precisely targets only the styles that need normalizing.
 *
 * http://ali.md/1reset
 * License: 1Reset by Ali Mihandoost is licensed under a Creative Commons Attribution 3.0 Unported License.
 * Based on normalize.css, EricMeyer and HTML5Doctor css reset
 *
 */

// @import '1Reset/Normalize_v2'

// @import '1Reset/Normalize_v1' // for ie6 users

@import '1Reset/EricMeyer'

// @import '1Reset/HTML5Doctor'

// @import '1Reset/YUI'

@import '1Reset/i18n'