html[lang|=en]
  direction ltr
  text-align left

html[lang|=fa],
html[lang|=ar]
  direction rtl
  text-align right
  font-family 'B Nazanin',nazanin,Verdana,Geneva,sans-serif
  -webkit-font-smoothing antialiased
